



<div class="container">
  <!-- Columna 1 -->
  <div class="column">
    <app-temperatura></app-temperatura>
  </div>

  <!-- Columna 2 -->
  <div class="column">
    <app-humedad-relativa></app-humedad-relativa>
  </div>

  <!-- Columna 3 -->
  <div class="column">Columna 3</div>
</div>
<div class="container">
  <!-- Columna 1 -->
  <div class="column">
    <app-temperatura></app-temperatura>
  </div>

  <!-- Columna 2 -->
  <div class="column">
    <app-humedad-relativa></app-humedad-relativa>
  </div>

  <!-- Columna 3 -->
  <div class="column">Columna 3</div>
</div>



<router-outlet />
